[Unit]
Description=Service for cs5463 driver
# After=multi-user.target
After=multi-user.target network.target eeris-feeder.service

[Service]
User=pi
Type=idle
ExecStart=launch.sh
## Set the working directory properly
WorkingDirectory=/home/pi/cs5463-pi
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
